/* Позиционирование */
.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 15% repeat(3, 1fr) 5% 10%;
    grid-template-rows: 1fr 1fr;
}

#search-bar {
    grid-column: 2/5;
}
.flexbox {
    display: flex;
    align-items:center;
}
form {
    display: flex;
    align-items: stretch;
}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh 5% max-content 5% 1fr;
}

article {
    grid-area: 1/1/2/4;  
}

h3 {
    grid-area: 2/1/3/4;
}

.victoria {
    grid-column:1;
    grid-row: 3;
    justify-content: center;
    text-align: center;

}
.aventus {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    text-align: center;
}
.narcotiqe {
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
    text-align: center;
}

h4 {
    grid-area:4/1/5/4;
}

.bonus {
    grid-area:5/1/6/4; 
}

.footer-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 1fr) 5% 5%;
    align-items: center;
}

.footer-item1 {
    grid-column: 1/4;
    grid-row: 1; 
    justify-self: center;  
}

.footer-item7 {
    grid-row: 4;
    grid-column: 2;
}
.footer-item8 {
    grid-row: 5;
    grid-column: 2;
}
.footer-item9 {
    grid-row: 6;
    grid-column: 2;
}

/* Типографика */
body {
    color: #beae97;
    font-family: "Montserrat", sans-serif;
}


/* Оформление */

body, a {
    background-color: #211e1c;
    text-decoration: none;
    color: #beae97;
}

.menu, .footer-container {
    list-style-type: none; 
}

.search {
box-sizing: border-box;
border: 1px solid #514941;
border-radius: 4px;
padding: 12px 20px;
width: 600px;
height: 48px;
box-shadow: 0 2px 10px 0 rgba(160, 149, 133, 0.2);
background: var(--footer);
}
button {
display: flex;
align-items: stretch;
justify-content: space-between;
box-sizing: border-box;
border: 1px solid #d6b88d;
border-radius: 4px;
padding: 12px 20px;
width: 165px;
height: 48px;
box-shadow: 0 2px 10px 0 rgba(184, 164, 142, 0.4);
background: #2b2825;
color: #beae97;
}

article {
    background-image: url(/week7/homework/maket/assets/images/Rectangle1.png);
    background-size: cover;   
}
.bonus { 
    background-image: url(/week7/homework/maket/assets/images/Rectangle17.png);
    background-size: cover;
}
/* Адаптивность */

@media screen and (min-width: 426px) and (max-width: 1023px){
    article {
        background-size: 100%;  
        background-repeat: no-repeat; 
    }
    .bonus {
        background-size: 100%;  
        background-repeat: no-repeat; 
    }
    .footer-container {

        display: none;
    }
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2% max-content max-content max-content  5%;
    }
    article {
        grid-column:1;
        grid-row: 1;  
    }
    
    h3 {
        grid-column:1;
        grid-row: 2; 
    }

    .victoria {
        grid-column:1;
        grid-row: 3;
    }

    .aventus {
        grid-column: 1;
        grid-row: 4;
    }
    .narcotiqe {
        grid-column: 1;
        grid-row: 5;
    }
    .bonus {
        grid-column: 1;
        grid-row: 6;
    }
}
@media screen  and (max-width: 425px){
    
    article {
        background-size: 100%;
        background-repeat: no-repeat; 
    }

    .bonus {
        background-size: 100%;  
        background-repeat: no-repeat; 
    }

    .footer-container {

        display: none;
    }
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 0.5fr  1fr 1fr 1fr 3% 5%;
    }
    .main-container-foto {
        width: 75%;
    }

    article {
        grid-column:1;
        grid-row: 1;  
    }
    
    h3 {
        grid-column:1;
        grid-row: 2; 
    }
    .victoria {
        grid-column:1;
        grid-row: 3;
    }
    .aventus {
        grid-column: 1;
        grid-row: 4;
    }

    .narcotiqe {
        grid-column: 1;
        grid-row: 5;
    }
    
    .bonus {
        grid-column: 1;
        grid-row: 7;
    }
    h4 {
        grid-column: 1;
        grid-row: 6;
    }

    #menu__toggle {
        opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu{
        visibility: visible;
        left: 0;
    }
    
    .menu__btn {
        background-color:#beae97;
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color:#2b2825;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    
    .menu-item {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu-item:hover {
        background-color: #CFD8DC;
    }
}